<%= render "shared/errors", :target => form.object %>

<ol class="form">
  <li class="name">
    <div class="split">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, :class => :text %>
    </div>
    <div class="split">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, :class => :text %>
    </div>
  </li>
  <li>
    <%= form.label :name, "Nickname" %>
    <%= form.text_field :name, :class => :text %>
  </li>
  <li>
    <%= form.label :email %>
    <%= form.text_field :email, :class => :text %>
  </li>
  <li class="password">
    <div class="split">
      <%= form.label :password, form.object.new_record? ? nil : "Change password" %>
      <%= form.password_field :password, :placeholder => "••••••••", :class => :text %>
    </div>
    <div class="split">
      <%= form.label :password_confirmation, "Confirm" %>
      <%= form.password_field :password_confirmation, :placeholder => "••••••••", :class => :text %>
    </div>
  </li>
  <li>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </li>
  <% if can? :destroy, Jester %>
    <li class="checkbox">
      <%= form.check_box :active %>
      <%= form.label :active, "Active?" %>
    </li>
  <% end %>
</ol>
<%= clear_floats %>




