<%= form_for @jester_session, :as => :jester_session, :url => login_path do |form| %>
  <%= form.hidden_field :remember_me, :value => 1 %>
  <% if form.object.errors.empty? %>
    <h1>Log in to get started…</h1>
  <% else %>
    <h1>Whoops! Please try again…</h1>
  <% end %>

  <ul class="form">
    <li class="text">
      <%= form.label :email %>
      <%= form.text_field :email, :type => :email, :placeholder => "name@example.com" %>
    </li>
    <li class="text">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </li>
    <li class="submit">
      <%= form.submit "Log in", :class => :button %>
    </li>
  </ul>
<% end %>