<h1>Log in</h1>

<%= form_for @jester_session, :as => :jester_session, :url => login_path do |form| %>
  <%= render "shared/errors", :target => form.object %>
  <%= form.label :email %><br />
  <%= form.text_field :email %><br />
  <br />
  <%= form.label :password %><br />
  <%= form.password_field :password %><br />
  <br />
  <%= form.check_box :remember_me %><%= form.label :remember_me %><br />
  <br />
  <%= form.submit "Login" %>
<% end %>