<div id="show_<%= show.date.to_s(:db) %>" class="show-preview" style="display: none">
  <h3><%= link_to show.date.to_s(:long), show_path(show.date.year, show.date.month, show.date.day) %> <%= show.players.select(&:mcing?).to_sentence %></h3>
  <p><%= show.all_in? ? "(All-in)" : show.players.select(&:playing?).map(&:to_s).to_sentence %><%= " (with #{show.players.select(&:musoing?).to_sentence})" unless show.players.select(&:musoing?).empty? %></p>
  <%= link_to "»", show_path(show.date.year, show.date.month, show.date.day), :class => :go %>
</div>