<!DOCTYPE html>
<html>
<head>
  <title><%= [ yield(:title), "Playtime" ].reject(&:blank?).join(" | ") %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if logged_in? %>
    <div id="logged-in-outer">
      <div id="logged-in" class="container_12">
        <div>
          <%= link_to current_jester, jester_path(current_jester), :class => :current %>
          <%= link_to "Log out", logout_path, :class => :logout %>
        </div>
      </div>
    </div>
  <% end %>
  <div id="header-outer">
    <div id="header" class="container_12">
      <%= yield :header %>
    </div>
    <%= clear_floats %>
  </div>
  <div id="main-outer">
    <div id="main" class="container_12">
      <%= yield %>
    </div>
    <%= clear_floats %>
  </div>
  <div id="footer-outer">
    <div id="footer" class="container_12">
      <p>&copy; 2011 The Court Jesters</p>
    </div>
    <%= clear_floats %>
  </div>
  
  <%= javascript_include_tag "mootools.js", "mootools-more", "rails", "application" %>
  <%= yield :scripts %>
</body>
</html>
